<div class="row underlined">
    <div class="large-bold">Alert Details #{{ detailedAlert?.AlertId }}</div>
</div>

<div class="row detail-row">
    <div class="col-sm-6">AlertId</div>
    <div class="col-sm-6">{{ detailedAlert?.AlertId }}</div>
</div>

<div class="row detail-row">
    <div class="col-sm-6">Alert Time</div>
    <div class="col-sm-6">{{ detailedAlert?.AlertTime }}</div>
</div>

<div class="row detail-row">
    <div class="col-sm-6">Severity</div>
    <div class="col-sm-6">{{ detailedAlert?.Severity}}</div>
</div>

<div class="row detail-row">
    <div class="col-sm-6">Client IP</div>
    <div class="col-sm-6">{{ detailedAlert?.ClientIP }}</div>
</div>

<div class="row detail-row">
    <div class="col-sm-6">Server IP</div>
    <div class="col-sm-6">{{ detailedAlert?.ServerIP }}</div>
</div>

<div class="row detail-row">
    <div class="col-sm-6">Protocol</div>
    <div class="col-sm-6">{{ detailedAlert?.Protocol }}</div>
</div>

<div class="row detail-row">
    <div class="col-sm-6">Client Country</div>
    <div class="col-sm-6">{{ detailedAlert?.ClientCountry }}</div>
</div>
