.no-padding {
    padding: 0;
}
.full-height {
    height: 100%;
}
.left-box-border {
    padding-top: 2px;
    border-top: 2px #000 solid;
    padding-left: 23px;
}
.right-box-border {
    border-top: 2px #000 solid;
}